@font-face {
  font-family: 'Enhanced Dot Digital-7';
  src: url('EnhancedDotDigital-7.woff2') format('woff2'),
      url('EnhancedDotDigital-7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold Dot Digital-7';
  src: url('BoldDotDigital-7.woff2') format('woff2'),
      url('BoldDotDigital-7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@property --blinking-opacity {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

@keyframes global-blink {
  0%, 40% {
    --blinking-opacity: 1;
  }
  50%, 90% {
    --blinking-opacity: 0;
  }
  100% {
    --blinking-opacity: 1;
  }
}

:root {
  --blinking-opacity: 1;
  animation: global-blink 1.4s ease-in-out infinite;
}

html {
  height: 100%;
}

body {
  background-color: #101010;
  color: darkorange;
  font-family: 'Enhanced Dot Digital-7';
  font-size: 4vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  height: 100%;
}
.app {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}