.line{
    display: flex;
    width: 96%;
    margin: 1% 2%;
    justify-content: space-between;
    font-size: 4vw;
}

.line__name {
    width: 10%;
    font-family: 'Bold Dot Digital-7';
}

.line__direction {
    width: 73%;
}

.line__time {
    width: 17%;
    text-align: right;
}